html,
body { 
    background: url('../images/background_index.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*    height: 100%;
        position: relative;*/
}

.main-container{
    min-height: calc(100vh - 4em);
    /*    overflow: hidden;
        display: block;
        position: relative;
        padding-bottom: 100px;   */
   padding:0;
    margin: 0;
}

.page-footer{
    height:4em;
}


.form-group.last { margin-bottom:0px; }

.vertical-center{	
    text-align: center;
    background-color: rgba(255,255,255, 0.75);
    color: inherit;
    margin-top:11%;

}

*{
    box-sizing: border-box;
    margin: 0;
}

*:before,
*:after{
    box-sizing: border-box;
}


