<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Cadastro</title>  

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="resources/css/style_index.css"/>


    </h:head>
    <h:body >
        <div class="main-container" id="register-page" style="height: 650px">
            <!-- Navbar -->
            <header>
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                    <a class="navbar-brand " style="font-size: 26px !important" href="#">
                        <img src="resources/images/logoGerRural.svg" width="50" height="50" class="d-inline-block align-center-right" alt=""/>
                        Gerenciador Rural
                    </a>
                    <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup"></div>				
                </nav>
            </header>

            <!-- Navbar -->
            <!-- Content -->
            <section>
                <div class="container">
                    <div class="center-align">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-5 offset-s3" style="text-align: center">
                                <div class="jumbotron vertical-center" >
                                    <h3 style="margin-bottom: 20px"> Cadastro de usuário </h3>

                                    <h:form class="form-horizontal" style="text-align: left" role="form">
                                        <p:panel>
                                            <p:growl id="msgs" showDetail="true" autoUpdate="true" />
                                            <h:panelGrid columns="2">
                                                <div class="form-group ">
                                                    <label for="nome">Nome:</label>
                                                    <p:inputText class="form-control" id="usr" value="#{usuarioBean.usuarioNovo.nome}"  placeholder="Insira seu nome completo"></p:inputText>                                             
                                                </div>

                                                <div class="form-group ">
                                                    <label for="pwd">Senha:</label>
                                                    <p:inputText  type="password" class="form-control" id="pwd" value="#{usuarioBean.usuarioNovo.senha}"  placeholder="Insira sua senha"></p:inputText>                                             
                                                </div>
                                                <div class="form-group ">
                                                    <label for="mail">Email:</label>
                                                    <p:inputText type="email" class="form-control" id="mail" value="#{usuarioBean.usuarioNovo.email}"  placeholder="Insira seu email"></p:inputText>                                             
                                                </div>
                                                <div class="form-group ">
                                                    <label for="phone">Telefone:</label>
                                                    <p:inputText type="text" class="form-control" id="phone" value="#{usuarioBean.usuarioNovo.telefone}"  placeholder="Insira seu telefone"></p:inputText>                                             
                                                </div>
                                                <div class="form-group ">
                                                    <label for="cpf">CPF:</label>
                                                    <p:inputText type="text" class="form-control" id="cpf" value="#{usuarioBean.usuarioNovo.cpf}"  placeholder="Insira seu CPF"></p:inputText>                                             
                                                </div>
                                            </h:panelGrid>
                                        </p:panel>
                                        <div class="form-group" style="text-align: center;margin-top:30px;">
                                            <h:commandLink value="Cadastrar" class="btn btn-success btn-md" action="#{usuarioBean.salvarUsuario()}" /> 
                                            <h:commandLink value="Voltar"  class="btn btn-primary btn-md" action="#{navegacao.irIndex()}" style="margin-left: 50px" />   
                                        </div>
                                    </h:form>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </section>
            <!-- Content -->
            <!-- Footer -->
            <footer class="page-footer font-small bg-primary" >
                <!-- Copyright -->
                <div class="footer-copyright text-center py-3 text-light ">© 2019 Copyright:
                    <a href="https://www.embrapa.br/" class="text-dark"> Embrapa</a>
                </div>
                <!-- Copyright -->

            </footer>
            <!-- Footer -->
            <script>
                $(document).on("ready", function()){
                    $('#login-page').css({'height': window.innerHeight + 'px'});
                }
            </script>

        </div>
    </h:body>
</html>