<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <head>

        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <title>Gerenciador Rural</title>

        <!-- Custom fonts for this template-->
        <link href="resources/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"/>

        <!-- Page level plugin CSS-->
        <link href="resources/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet"/>

        <!-- Custom styles for this template-->
        <link href="resources/css/sb-admin.css" rel="stylesheet"/>


    </head>

    <body id="page-top">

        <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

            <a class="navbar-brand mr-1" href="dashboard.html">Gerenciador Rural</a>

            <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Navbar Search -->
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2"></input>
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>

            <!-- Navbar -->
            <ul class="navbar-nav ml-auto ml-md-0">

                <li class="nav-item dropdown no-arrow">
                    <h3>#{navegacao.resultid()}</h3>
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle fa-fw"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">Configurações</a>
                        <a class="dropdown-item" href="#">Alterar dados</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Sair</a>
                    </div>
                </li>
            </ul>

        </nav>

        <div id="wrapper">

            <!-- Sidebar -->
            <ul class="sidebar navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Tela inicial</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-fw fa-folder"></i>
                        <span>Páginas</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                        <a class="dropdown-item" href="listaUsuario.xhtml">Lista de usuários</a>
                        <a class="dropdown-item" href="#">Lista de máquinario</a>
                        <a class="dropdown-item" href="#">Lista de benfeitorias</a>         
                    </div>
                </li>

            </ul>

            <div id="content-wrapper">

                <div class="container-fluid">

                    <!-- Breadcrumbs-->
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Tela inicial</a>
                        </li>
                        <li class="breadcrumb-item active">Visão geral</li>
                    </ol>

                    <!-- Page Content -->
                    <h3 style="margin-bottom: 20px"> Informações do usuário </h3>

                    <h:form class="form-horizontal" style="text-align: left" role="form">
                        <p:panel>
                            <p:growl id="msgs" showDetail="true" autoUpdate="true" />
                            <h:panelGrid columns="2" cellspacing="20">
                                <div class="form-group ">
                                    <label for="nome">Nome:</label>
                                    <p:inputText class="form-control" id="usr" value="#{usuarioBean.usuarioNovo.nome}"  disabled="true"></p:inputText>                                             
                                </div>
                 
                                <div class="form-group ">
                                    <label for="cpf">CPF:</label>
                                    <p:inputText type="text" class="form-control" id="cpf" value="#{usuarioBean.usuarioNovo.cpf}" disabled="true"></p:inputText>                                             
                                </div>
                                <div class="form-group ">
                                    <label for="pwd">Senha:</label>
                                    <p:inputText  type="password" class="form-control" id="pwd" value="#{usuarioBean.usuarioNovo.senha}"  disabled="true"></p:inputText>                                             
                                </div>
                                <div class="form-group ">
                                    <label for="mail">Email:</label>
                                    <p:inputText type="email" class="form-control" id="mail" value="#{usuarioBean.usuarioNovo.email}"  disabled="true"></p:inputText>                                             
                                </div>
                                <div class="form-group ">
                                    <label for="phone">Telefone:</label>
                                    <p:inputText type="text" class="form-control" id="phone" value="#{usuarioBean.usuarioNovo.telefone}"  disabled="true"></p:inputText>                                             
                                </div>
                                 <div class="form-group ">
                                    <label for="acess">Ultimo Acesso:</label>
                                    <p:inputText type="text" class="form-control" id="acess" value="#"  disabled="true"></p:inputText>                                             
                                </div>
                                 <div class="form-group ">
                                    <label for="tipo">Tipo de usuário:</label>
                                    <p:inputText type="text" class="form-control" id="tipo" value="#{usuarioBean.identificarPerfil(usuarioBean.usuarioNovo)}"  disabled="true"></p:inputText>                                             
                                </div>
                                 <div class="form-group ">
                                    <label for="status">Status:</label>
                                    <p:inputText type="text" class="form-control" id="status" value="#{usuarioBean.identificarStatus(usuarioBean.usuarioNovo)}" disabled="true"></p:inputText>                                             
                                </div>
                                
                            </h:panelGrid>
                        </p:panel>
                        <h3>Informações sobre propriedades</h3>
                        <p:panel>
                             <p:growl id="msgs2" showDetail="true" autoUpdate="true" />
                             <h:panelGrid columns="2">
                                 <label>Quantidade de propriedades, lista com info de hectares, cidade, numero de campos, lucro e despesas</label>se 
                                 
                             </h:panelGrid>
                            
                        </p:panel>
                        <div class="form-group" style="text-align: center;margin-top:30px;">
                            <p:commandButton value="Gerar Relatório" class="btn btn-success btn-md" action="#" ></p:commandButton>
                            <p:commandButton value="Desativar Usuário" class="btn btn-danger btn-md" actionListener="#{usuarioBean.desativaUsuario()}" onclick="return confirm('Deseja fazer a Exclusão ?');" ></p:commandButton>
                       
                        </div>
                    </h:form>



                </div>
                <!-- /.container-fluid -->

                <!-- Sticky Footer -->
                <footer class="sticky-footer">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>© 2019 Copyright:<a href="https://www.embrapa.br/" class="text-dark"> Embrapa</a></span>
                        </div>
                    </div>
                </footer>

            </div>
            <!-- /.content-wrapper -->

        </div>
        <!-- /#wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript-->
        <script src="resources/vendor/jquery/jquery.min.js"></script>
        <script src="resources/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="resources/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Page level plugin JavaScript-->
        <script src="resources/vendor/chart.js/Chart.min.js"></script>
        <script src="resources/vendor/datatables/jquery.dataTables.js"></script>
        <script src="resources/vendor/datatables/dataTables.bootstrap4.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="resources/js/sb-admin.min.js"></script>

        <!-- Demo scripts for this page-->
        <script src="resources/js/demo/datatables-demo.js"></script>
        <script src="resources/js/demo/chart-area-demo.js"></script>


    </body>

</html>
