<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <head>
        <meta charset="utf-8"></meta>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="resources/css/style_index.css"/> 
        <title>GerRural</title>
    </head>
    <body >

        <!-- Navbar -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand " style="font-size: 26px !important" href="#">
                <img src="resources/images/logoGerRural.svg" width="50" height="50" class="d-inline-block align-center-right" alt=""/>
                Gerenciador Rural
            </a>
            <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="#">Ajuda</a>
                </div>
            </div>				
        </nav>
    </header>
    <!-- Navbar -->

    <!--Body -->
    <section>
        <div class="container"  style="margin-bottom: 3%" >
            <div class="row" >
                <div class="col-md-2"></div>			
                <div class="col-md-8 col-centered ">
                    <div class = "jumbotron vertical-center" style="margin-bottom: 9%" >
                        <h1 class="display-4">Gerenciador Rural</h1>
                        <p class="lead hd1">Um programa de  administração de propriedades rurais</p>
                        <hr class="my-4"/>
                        <p class="lead">
                        <h:form>
                            <h:commandButton class="btn btn-success btn-lg" value="Logar" action="#{navegacao.irLogin()}" role="button" style = " margin-right: 100px"></h:commandButton>	
                            <h:commandButton class="btn btn-primary btn-lg" value="Cadastre-se" action="#{navegacao.irCadastroUsuario()}" role="button" ></h:commandButton>
                        </h:form>
                        </p>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>
    <!--Body -->

    <!-- Footer -->
    <footer class="page-footer font-small bg-primary " style="margin-bottom: -100px;" >
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 text-light ">© 2019 Copyright:
            <a href="https://www.embrapa.br/" class="text-dark"> Embrapa</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</body>
</html>	