<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <head>

        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <title>Lista de Usuários</title>

        <!-- Custom fonts for this template-->
        <link href="resources/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"></link>

        <!-- Page level plugin CSS-->
        <link href="resources/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet"></link>

        <!-- Custom styles for this template-->
        <link href="resources/css/sb-admin.css" rel="stylesheet"></link>

    </head>

    <body id="page-top">

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

        <a class="navbar-brand mr-1" href="index.html">Gerenciador Rural</a>

        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>

        <!--
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2"></input>
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </form>
        -->

        <ul class="navbar-nav ml-auto ml-md-0" style="right: 0;position: absolute">

            <li class="nav-item dropdown no-arrow">
                <a    class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle fa-fw"></i>
                    #{usuarioBean.usuarioNovo.nome}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">Configurações</a>
                    <a class="dropdown-item" href="#">Editar dados</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Sair</a>
                </div>
            </li>
        </ul>

    </nav>

    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Tela inicial</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Páginas</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <a class="dropdown-item" href="listaUsuario.xhtml">Lista de usuários</a>
                    <a class="dropdown-item" href="#">Lista de máquinario</a>
                    <a class="dropdown-item" href="#">Lista de benfeitorias</a>         
                </div>
            </li>

        </ul>

        <div id="content-wrapper">

            <div class="container-fluid">

                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="dashboard.xhtml">Tela inicial</a>
                    </li>
                    <li class="breadcrumb-item active">Lista de Usuários</li>
                </ol>

                <!-- Page Content -->
                <div>
                    <!-- DataTables Example -->
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fas fa-table"></i>
                            Tabela de usuarios</div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <h:form id="lista" style="text-align: center;">
                                    <p:growl id="msgs" showDetail="true" />
                                    <p:dataTable class="table table-bordered" id="tabela"  value="#{usuariosBean.listaUsuarios}" var="usuario" style="margin-bottom: 10px;width: 100%;" >
                                        <p:column headerText="Nome" >                  
                                            <h:outputText value="#{usuario.nome}"></h:outputText>               
                                        </p:column>
                                        <!-- email, telefone e senha aparecem em detalhes -->
                                        <p:column headerText="CPF">                
                                            <h:outputText value="#{usuario.cpf}"></h:outputText>                    
                                        </p:column>
                                        <p:column headerText="Ultimo acesso">                   
                                            <h:outputText value="#"></h:outputText>                    
                                        </p:column>
                                        <p:column headerText="Tipo">                   
                                            <h:outputText value="#{usuariosBean.identificarPerfil(usuario)}"></h:outputText>                    
                                        </p:column>
                                        <p:column headerText="Status">                   
                                            <h:outputText value="#{usuariosBean.identificarStatus(usuario)}"></h:outputText>                    
                                        </p:column>
                                        <p:column headerText="Ação">                   
                                            <p:commandButton icon="fas fa-fw fa-info" value=" " actionListener="#{usuariosBean.verDetalhes(usuario)}"></p:commandButton>                                                                                 
                                        </p:column>

                                    </p:dataTable>

                                </h:form>

                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <!-- /.container-fluid -->

            <!-- Sticky Footer -->
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>© 2019 Copyright:<a href="https://www.embrapa.br/" class="text-dark"> Embrapa</a></span>
                    </div>
                </div>
            </footer>

        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="resources/vendor/jquery/jquery.min.js"></script>
    <script src="resources/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="resources/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="resources/js/sb-admin.min.js"></script>

</body>

</html>
