<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Material Login</title>  

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="resources/css/style_index.css"/>


    </h:head>
    <h:body >
        <div class="main-container" id="login-page" style="height: 650px">
            <!-- Navbar -->
            <header>
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                    <a class="navbar-brand " style="font-size: 26px !important" href="#">
                        <img src="resources/images/logoGerRural.svg" width="50" height="50" class="d-inline-block align-center-right" alt=""/>
                        Gerenciador Rural
                    </a>
                    <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup"></div>				
                </nav>
            </header>
            <!-- Navbar -->
            <!-- Content -->
            <section>
                <div class="container"  style="margin-bottom: 3%">
                    <div class="center-align">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 offset-s3">
                                <div class="jumbotron vertical-center"  style="margin-bottom: 3%">
                                    <h3 style="margin-bottom: 20px"> Acesso ao sistema </h3>
                                    <div class ="left-align">
                                        <h:form id="login-form" style="text-align: left">
                                            <p:growl autoUpdate="true"/>
                                            <div class="form-group">
                                                <label for="cpf">CPF:</label>
                                                <p:inputText type="text" value="#{usuarioBean.usuarioNovo.cpf}" class="form-control" id="cpf" placeholder="Insira seu CPF"></p:inputText>
                                            </div>
                                            <div class="form-group">
                                                <label for="pwd">Senha:</label>
                                                <p:inputText type="password" value="#{usuarioBean.usuarioNovo.senha}" class="form-control" id="pwd" placeholder="Insira sua senha"></p:inputText>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <h:selectBooleanCheckbox  value="remember-me"></h:selectBooleanCheckbox>
                                                        Lembrar de mim
                                                </label>
                                            </div>
                                            <div class="form-group" style="text-align: center;margin-top:30px;">
                                                <h:commandLink value="Login" class="btn btn-success btn-block" action="#{usuarioBean.logarUsuario()}" /> 
                                                 </div>
                                            <div class="form-group">
                                                <div class="text-center" style=" text-align: left">
                                                    <a class="d-block  mt-3" href="register.html">Registrar uma conta</a>
                                                    <a class="d-block " href="forgot-password.html">Esqueceu da senha?</a>
                                                </div>
                                            </div>
                                        </h:form>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </section>
            <!-- Content -->
            <!-- Footer -->
            <footer class="page-footer  font-small bg-primary " style="margin-bottom: -50px;">
                <!-- Copyright -->
                <div class="footer-copyright text-center py-3 text-light ">© 2019 Copyright:
                    <a href="https://www.embrapa.br/" class="text-dark"> Embrapa</a>
                </div>
                <!-- Copyright -->

            </footer>
            <!-- Footer -->
            <script>
                $(document).on("ready", function()){
                    $('#login-page').css({'height': window.innerHeight + 'px'});
                }
            </script>

        </div>
    </h:body>
</html>